body {
    color: #121212;
    font-family: 'Rubik', sans-serif;
    background: #fff;
    /* font-size: .75rem; */
}

/* Text */
p, a, li {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
    color: inherit;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2rem;
}
h1, h2 {
    font-weight: 500;
}
.italic {
    font-style: italic;
}
ul {
    list-style: none;
    padding:50px;
}

.grayed li a, a {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #e0b2e0;
    /* border-bottom: 5px solid #e0b2e0; */
}

.grayed li a:hover, a:hover {
    background-color: #e0b2e0;
    line-height: 1em;
}
.file_path {
    font-weight: 500;
    background-color: #e0b2e0;
}
.heading_light {
    font-weight: 300;
}

.monospace {
    font-family: monospace;
}
.small {
    font-size: 1rem;
}
ul.tip {
    list-style: initial;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.term {
    background-color: #e0b2e0;
    font-weight: 400;
}

/* Containers */
.content {
    max-width: 860px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.grayed {
    background-color: #e6e6e6;  
}
.note {
    background-color: #ffffff; 
    padding: 20px; 
    
}

